<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="{% url 'reservation' %}">
        {% csrf_token %}
        <label for="event_space_1">Room:</label>
    <select name="event_space_1">
        {% for room in rooms %}
            <option value="{{ room.id }}">{{ room.name }}</option>
        {% endfor %}
    </select>
    <br>
    <form method="post" action="{% url 'reservation' %}">
        {% csrf_token %}
        <label for="event_space_2">Style:</label>
    <select name="event_space_2">
        {% for style in styles %}
            <option value="{{ style.id }}">{{ style.name }}</option>
        {% endfor %}
    </select>
    <br>
    <label for="coffee_break">Coffee Break:</label>
    <select name="coffee_break">
    <option value="">None</option> <!-- This is the default empty option -->
    {% for break in coffee_breaks %}
        <option value="{{ break.id }}">{{ break.name }}</option>
    {% endfor %}
    </select>
<br>

        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" id="first_name"><br>

        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name" id="last_name"><br>

        <label for="phone_number">Phone Number:</label>
        <input type="number" name="phone_number" id="phone_number"><br>

        <label for="email">Email Adress:</label>
        <input type="email" name="email" id="email"><br>

        <label for="date_and_time">Date and Time:</label>
        <input type="datetime-local" name="date_and_time" id="date_and_time"><br>
    
        <label for="number_of_attendees">Number of Attendees:</label>
        <input type="number" name="number_of_attendees" id="number_of_attendees"><br>
    
        <label for="notes">Notes:</label>
        <textarea name="notes" id="notes" rows="4"></textarea><br>
    
        <input type="submit" value="Submit">
    </form>
    
</body>
</html>